{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static '/css/style.css' %}" />
        <link rel="stylesheet" href="{% static '/css/font.css' %}" />
        <title>Hope</title>
    </head>
    <body>
        <header>
            <div class="logoProfile">
                <div class="logo">
                    <a href="#">
                        <span class="logoFrame">
                            <img
                                src="{% static '/images/logo.png' %}"
                                alt="logo" />
                        </span>
                    </a>
                </div>
                <div class="profile">
                    <div class="profileContainer">
                        <div class="profileFrame">
                            <img
                                src="{% static '/images/profile-image.png' %}"
                                alt="" />
                        </div>
                        <span class="name"> {{ request.user.patient.name }} </span>
                        <div class="downArrow">
                            <a href="{% url 'profile' %}">
                                <img
                                    src="{% static '/images/arrow-down.svg' %}"
                                    alt="down arrow" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="container">
            <nav>
                <ul>
                    <li class="nav-item">
                        <a href="{% url 'index' %}">
                            <div class="iconFrame">
                                <img
                                    src="{% static '/images/dashboard.svg' %}"
                                    alt="home" />
                            </div>
                            Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'therapist' %}"
                            ><div class="iconFrame">
                                <img
                                    src="{% static '/images/therapist.svg' %}"
                                    alt="therapist" />
                            </div>
                            Therapist's</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user' %}"
                            ><div class="iconFrame">
                                <img
                                    src="{% static '/images/user.svg' %}"
                                    alt="user" />
                            </div>
                            User's</a
                        >
                    </li>
                </ul>
                <div class="logout">
                    <a href="#" id="logoutButton">
                        <div class="iconFrame">
                            <img
                                src="{% static '/images/logout.svg' %}"
                                alt="" />
                        </div>
                        Logout
                    </a>
                </div>
            </nav>
            <div class="content">
                <section id="userSingle">
                    <div class="container">
                        <div class="top">
                            <div class="name">Mr.{{user.name}}</div>
                            <div class="breadcrumb">
                                <a href="{% url 'user' %}">User's </a>
                                <span class="slash">/</span>
                                <a href="#">Mr.{{user.name}}</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="userDetails">
                                <div class="left">
                                    <div class="profile">
                                        <div class="profileImage">
                                            <img
                                                src="{% static '/images/user.png' %}"
                                                alt="profile image" />
                                        </div>
                                        <div class="nameUserId">
                                            <p class="name">Mr.{{user.name}}</p>
                                            <p class="userId">
                                                {{user.patient_id}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="informationContainer">
                                        <p class="heading">Contact number</p>
                                        <span class="contentText"
                                            >{{user.contact_number}}</span
                                        >
                                    </div>
                                    <div class="informationContainer">
                                        <p class="heading">Mail ID</p>
                                        <span class="contentText"
                                            >{{user.mail_id}}</span
                                        >
                                    </div>
                                    <div class="informationContainer">
                                        <p class="heading">Joined from</p>
                                        <span class="contentText"
                                            >{{user.joined_from}}</span
                                        >
                                    </div>
                                    <div class="informationContainer">
                                        <p class="heading">
                                            Total problems posted
                                        </p>
                                        <span class="contentText"
                                            >{{user.total_problems_posted}}</span
                                        >
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="recentSolutions">
                                        <div class="headingButton">
                                            <h4>Recently posted problem's</h4>
                                            <button class="backgroundButton">
                                                View
                                            </button>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="headingButton">
                                                    <div
                                                        class="solutionHeading">
                                                        Hypertension
                                                    </div>
                                                    <a href="#"
                                                        >View solution</a
                                                    >
                                                </div>
                                                <div class="solution">
                                                    <p class="solutions">
                                                        What are the common
                                                        symptoms and risk
                                                        factors associated with
                                                        hypertension, and how
                                                        can lifestyle
                                                        modifications contribute
                                                        to its management and
                                                        prevention?
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="headingButton">
                                                    <div
                                                        class="solutionHeading">
                                                        Major Depressive
                                                        Disorderschizophrenia
                                                    </div>
                                                    <a href="#"
                                                        >View solution</a
                                                    >
                                                </div>
                                                <div class="solution">
                                                    <p class="solutions">
                                                        How does schizophrenia
                                                        affect a person's
                                                        cognitive and emotional
                                                        functioning?
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="headingButton">
                                                    <div
                                                        class="solutionHeading">
                                                        Major Depressive
                                                        Disorder
                                                    </div>
                                                    <a href="#"
                                                        >View solution</a
                                                    >
                                                </div>
                                                <div class="solution">
                                                    <p class="solutions">
                                                        What treatment options
                                                        are available for
                                                        individuals with
                                                        generalised anxiety
                                                        disorder?
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="headingButton">
                                                    <div
                                                        class="solutionHeading">
                                                        Major Depressive
                                                        Disorder
                                                    </div>
                                                    <a href="#"
                                                        >View solution</a
                                                    >
                                                </div>
                                                <div class="solution">
                                                    <p class="solutions">
                                                        Can you explain the
                                                        neurobiological factors
                                                        contributing to the
                                                        development of bipolar
                                                        disorder?
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="modal" id="logoutModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="heading">Logout</div>
                <div class="question">Are you sure want to logout?</div>
                <form method="post" action="{% url 'logout_user' %}">
                    {% csrf_token %}
                    <div class="buttonContainer">
                        <button type="button" class="borderButton" onclick="closeLogoutModal()">Cancel</button>
                        <button type="submit" class="backgroundButton">Logout</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/logout-modal.js' %}"></script>
        <script>
            // Get the current path of the page
            var currentPath = window.location.pathname;

            // Get all navigation links
            var navLinks = document.querySelectorAll('nav a');

            // Iterate through each navigation link
            navLinks.forEach(function(link) {
                // Check if the current path matches the link's href attribute
                if (currentPath === link.getAttribute('href')) {
                    // Add the active class to the link's parent <li> element
                    link.parentElement.classList.add('active');
                }
            });
        </script>
    </body>
</html>
