{% extends 'auth/loginbase.html' %}
{% block content %}
<form method="post" action="{% url 'patient-registration' %}">
    {% csrf_token %}
    <p class="title">Register new account</p>
    
    <div class="field">
        <label for="name">Name</label>
        <input
            type="text"
            required
            name="name" />
    </div>
    <div class="field">
        <label for="name">Phone Number</label>
        <input
            type="tel"
            required
            name="phone_number" />
    </div>
    <div class="field">
        <label for="name">Mail ID</label>
        <input
            type="email"
            required
            name="email_id" />
    </div>
    <div class="field">
        <label for="name">Age</label>
        <input
            type="text"
            required
            name="age" />
    </div>
    <div class="field gender">
        <label for="gender">Gender : </label>
        <div class="selector">
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
        </div>
    </div>
    <div class="passwordContainer">
        <div class="field">
            <label for="passsword">Password</label>
            <input
                type="password"
                required
                name="password" />
        </div>
        <div class="field">
            <label for="confirm_passsword">Re - Enter password</label>
            <input
                type="password"
                required
                name="confirm_password" />
        </div>
    </div>
    <span>
        <button
            class="loginButton"
            type="submit"
            id="loginButton">
            Register
        </button>
    </span>
    <div class="account">
        <p>
            Already have an account
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</form>
{% endblock %}